<!DOCTYPE html>
<html>
<head>
  <link href="/style.css" rel="stylesheet" media="all" />
  <title></title>
</head>
<body>
  <h1>Welcome to Berber Shop!</h1>
  <h2>We are open!!!</h2> 
  <h3> For your order, please type: </h3>
  <form action="/" method="POST">
  	<p>Your name: <input type="text" name="user_name"/></p>
    <p>Your phone:
    <input type="text" name="phone"/></p>
    <p>Date and time: 
    <input type="text" name="date_time"/></p>
    <input type="submit"/>
  </form>
</body>
</html>