<h2>Записаться</h2>
<p>На этой странице вы сможете записаться к нам в Barber Shop</p>
<form action="/visit" method="POST" role="form">
  
  <div class="form-group">
    <label>Имя</label>
    <input name="username" type="text" class="form-control" placeholder="Имя">
  </div>

  <div class="form-group">
    <label>Телефон</label>
    <input name="phone" type="text" class="form-control" placeholder="Телефон">
  </div>

  <div class="form-group">
    <label>Дата и время</label>
    <input name="datetime" type="text" class="form-control" placeholder="Дата и время">
  </div>
  
  <select name="master" class="form-control">
    <option disabled selected="selected">Выберите героя</option>
    <option>Чебурашка </option>
    <option>Крокодил Гена </option>
    <option>Шапокляк </option>
    <option>Крыса Лариса </option>
  </select> <br/>

  <button type="submit" class="btn btn-primary">Записаться</button>
</form>


